.container {
  display: flex;
  border: 1px solid #000;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .container {
    flex-wrap: wrap;
  }
}

.container .column {
  flex: 1 1 33%;
  padding: 10px;
}

.container .column:not(:last-child) {
  border-right: 1px solid #000;
}

@media only screen and (max-width: 325px) {
  .container .column:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #000;
  }
}
